<h2 class="text-3xl font-bold px-3">Mi Perfil</h2>

<article class="flex flex-col md:flex-row w-full min-h-screen gap-10">
  <div class="flex-1 flex flex-col mt-10">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title mb-2"></h3>
        <div class="shrink-0 flex justify-center">
          <div
            class="w-40 h-40 rounded-full bg-[#d1d5db] flex items-center justify-center text-white font-semibold uppercase text-6xl"
          >
            {{ this?.miembroActual?.nombre?.charAt(0)?.toUpperCase() }}
          </div>
        </div>

        <form [formGroup]="perfilForm" class="mt-5">
          @if(modoContrasenia()){

          <div class="input-group py-2">
            <label class="input-helper"> Ingresa tu contraseña actual</label>
            <input
              type="password"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="actual"
            />@if (perfilForm.get("actual")?.invalid && perfilForm.get("actual")?.touched) {
            <span class="input-error-text">Contraseña incorrecta.</span>
            }
          </div>

          <div class="input-group py-2">
            <label class="input-helper"> Ingresa la nueva contraseña</label>
            <input
              type="password"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="nueva"
            />@if (perfilForm.get("nueva")?.invalid && perfilForm.get("nueva")?.touched) {
            <span class="input-error-text">Contraseña incorrecta.</span>
            }
          </div>

          <div class="input-group py-2">
            <label class="input-helper"> Confirma tu contraseña nueva</label>
            <input
              type="password"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="confirmar"
            />@if (perfilForm.get("confirmar")?.invalid && perfilForm.get("confirmar")?.touched) {
            <span class="input-error-text">Contraseña incorrecta.</span>
            }
          </div>

          }

          <div class="input-group py-2">
            @if (!modoEditar()) {
            <label class="input-helper">Nombre</label>
            }@else {
            <label class="input-helper">Nuevo nombre</label>
            }
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="nombre"
            />@if (perfilForm.get("nombre")?.invalid && perfilForm.get("nombre")?.touched) {
            <span class="input-error-text">El nombre debe tener al menos 2 letras.</span>
            }
          </div>

          <div class="input-group py-2">
            @if (!modoEditar()) {
            <label class="input-helper">Apellido</label>
            }@else {
            <label class="input-helper">Nuevo apellido</label>
            }
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="apellido"
            />
            @if (perfilForm.get("apellido")?.invalid && perfilForm.get("apellido")?.touched) {
            <span class="input-error-text">El apellido debe tener al menos 2 letras.</span>
            }
          </div>
          <div class="input-group py-2">
            <label class="input-helper">Gmail:</label>
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="email"
            />
            @if (modoEditar()) {
            <span class="text-primary">El mail no puede ser editado.</span>
            }
          </div>

          <div class="flex flex-col gap-4 py-4">
            <div class="flex flex-row gap-4">
              @if (!modoEditar() && !modoContrasenia()) {
              <button class="btn btn-outline btn-sm flex-1" (click)="activarModoEditar()">
                Editar Perfil
              </button>
              <button class="btn btn-outline btn-sm flex-1" (click)="activarEditarContrasenia()">
                Cambiar Contraseña
              </button>
              }@else{
              <button class="btn btn-sucess btn-sm flex-1" (click)="guardarCambios()">
                Aceptar cambios
              </button>
              <button class="btn btn-danger btn-sm flex-1" (click)="cancelarEdicion()">
                Cancelar cambios
              </button>
              }
            </div>

            <button class="btn btn-danger btn-sm mt-5" (click)="authService.logout()">
              Cerrar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex-2 flex flex-col mt-6">
    <div class="flex justify-between py-3">
      <h2 class="text-2xl font-semibold">Mis publicaciones</h2>

      <!-- si el usuario no administrador, se muestra el boton para crear un publicacion -->
      @if (!authService.isAdmin()) {
      <a class="btn btn-sm btn-primary" routerLink="/publicaciones/crear">+ Crear Publicación </a>
      }
    </div>
    <p>Componente de las cards llamadas por el ID del miembro</p>
  </div>
</article>
