<h1 class="text-3xl font-semibold px-3 pb-4">Mi Perfil</h1>

<article class="flex flex-col md:flex-row w-full min-h-screen gap-10">
  <div class="flex-1 flex flex-col">
    <div class="card">
      <div class="card-body">
        <div class="shrink-0 flex justify-center">
          <div
            class="w-40 h-40 rounded-full bg-[#d1d5db] flex items-center justify-center text-white font-semibold uppercase text-6xl"
          >
            {{ miembroActual.nombre.charAt(0) }}{{ miembroActual.apellido.charAt(0) }}
          </div>
        </div>

        <form [formGroup]="perfilForm" class="mt-5">
          @if(modoContrasenia()){

          <div class="input-group py-2">
            <label class="input-helper">Ingresa tu contraseña actual</label>
            <input type="password" class="input-field" formControlName="actual" />
            @if (perfilForm.get('actual')?.invalid && perfilForm.get('actual')?.touched) {
            <p class="input-error-text">Este campo es obligatorio.</p>
            } @if (errorPassword()) {
            <div class="input-error-text">
              {{ errorPassword() }}
            </div>
            }
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Ingresa la nueva contraseña</label>
            <input type="password" class="input-field" formControlName="nueva" />
            <span>La contraseña debe tener al menos: <br /></span>
            <span class="input-helper"
              >- Ocho caracteres.<br />- Una letra mayúscula. <br />- Una letra minúscula. <br />-
              Un número.<br />- Un carácter especial (!%$&_@).</span
            >
            @if (perfilForm.get("nueva")?.touched) {
            <p class="input-error-text">
              @if(perfilForm.get("nueva")?.errors?.['required']){ Campo requerido. }
              @if(perfilForm.get("nueva")?.errors?.['pattern']){ La contraseña nueva no cumple con
              los requisitos. }
            </p>
            }
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Confirma tu contraseña nueva</label>
            <input type="password" class="input-field" formControlName="confirmar" />
            @if (perfilForm.get("confirmar")?.touched) {
            <p class="input-error-text">
              @if(perfilForm.get("confirmar")?.errors?.['required']){ Campo requerido. }
              @if(perfilForm.get("confirmar")?.value !== perfilForm.get("nueva")?.value){ Las
              contraseñas no coinciden. }
            </p>
            }
          </div>

          } @else if(modoEditar()){

          <div class="input-group py-2">
            <label class="input-helper">Nombre</label>
            <input type="text" class="input-field capitalize" formControlName="nombre" />
            @if (perfilForm.get("nombre")?.invalid && perfilForm.get("nombre")?.touched) { @if
            (perfilForm.get("nombre")?.errors?.["required"]) {
            <p class="input-error-text">Campo requerido.</p>
            } @if (perfilForm.get("nombre")?.errors?.["minlength"]) {
            <p class="input-error-text">El nombre debe tener al menos 3 letras.</p>
            } }
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Apellido</label>
            <input type="text" class="input-field capitalize" formControlName="apellido" />
            @if (perfilForm.get("apellido")?.invalid && perfilForm.get("apellido")?.touched) { @if
            (perfilForm.get("apellido")?.errors?.["required"]) {
            <p class="input-error-text">Campo requerido.</p>
            } @if (perfilForm.get("apellido")?.errors?.["minlength"]) {
            <p class="input-error-text">El apellido debe tener al menos 3 letras.</p>
            } }
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Email</label>
            <input
              type="text"
              class="opacity-70 cursor-not-allowed text-gray-700 input-field"
              formControlName="email"
            />
            <span class="text-primary text-sm">*El email no puede ser editado.</span>
          </div>
          } @else{

          <div class="input-group py-2">
            <label class="input-helper">Nombre</label>
            <input type="text" class="input-field capitalize" formControlName="nombre" />
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Apellido</label>
            <input type="text" class="input-field capitalize" formControlName="apellido" />
          </div>
          <div class="input-group py-2">
            <label class="input-helper">Email:</label>
            <input type="text" class="input-field" formControlName="email" />
          </div>
          }

          <div class="flex flex-col gap-4 py-4">
            <div class="flex flex-col gap-2">
              @if (!modoEditar() && !modoContrasenia()) {
              <button
                type="button"
                class="btn btn-outline btn-sm flex-1"
                (click)="activarModoEditar()"
              >
                Editar Perfil
              </button>
              <button
                type="button"
                class="btn btn-outline btn-sm flex-1"
                (click)="activarEditarContrasenia()"
              >
                Cambiar Contraseña
              </button>
              }@else{ @if(modoEditar()){
              <button
                type="button"
                [disabled]="!puedaGuardarPerfil"
                class="btn btn-primary btn-sm flex-1"
                (click)="guardarCambios()"
              >
                Guardar</button
              >} @else {
              <button
                type="button"
                [disabled]="perfilForm.invalid"
                class="btn btn-primary btn-sm flex-1"
                (click)="guardarCambios()"
              >
                Guardar
              </button>
              }

              <button
                type="button"
                class="btn btn-outline btn-sm flex-1"
                (click)="cancelarEdicion()"
              >
                Cancelar
              </button>
              }
            </div>

            <hr class="border border-border my-2" />

            <button type="button" class="btn btn-danger btn-sm" (click)="authService.logout()">
              Cerrar sesión
            </button>
          </div>
        </form>
        <span class="text-sm text-muted-foreground"
          >¿Deseas eliminar tu cuenta? Hacé click
          <a routerLink="/borrarCuenta" class="input-error-text font-extrabold">acá</a></span
        >
      </div>
    </div>
  </div>

  <!-- lado derecho de "mi perfil" -->

  <div class="flex-2 flex flex-col w-full">
    <!-- el primer if es para no mostrar NADA sobre publicaciones al Admin -->
    @if (!authService.isAdmin()) { @if (cargandoPublicaciones()) {
    <div class="flex justify-center items-center py-10">
      <p class="text-gray-500">Cargando publicaciones...</p>
    </div>
    } @else if (misPublicaciones().length > 0) {
    <div class="card p-4 bg-primary/5">
      @if (!authService.isAdmin()) {
      <div class="flex justify-between items-center pb-1">
        <h2 class="text-2xl font-semibold">Mis publicaciones</h2>
        <a class="btn btn-sm btn-primary" routerLink="/publicaciones/crear">+ Crear Publicación</a>

        <!-- solamente Miembros (no admin) pueden crear publicaciones -->
      </div>
      <p class="text-sm text-muted-foreground mb-4">Historial completo de tus publicaciones.</p>
      }
      <app-publicacion-list [publicaciones]="misPublicaciones()" />
    </div>
    }

    <!-- si no hay nada -->
    @else {
    <div class="card p-8 text-center">
      <p class="text-gray-500 mb-4">Aún no tenés publicaciones</p>

      <a class="btn btn-primary btn-md mx-auto" routerLink="/publicaciones/crear">
        Crear mi primera publicación
      </a>
    </div>
    } } @if (authService.isAdmin()) {
    <div class="card p-8 text-center">
      <p class="text-gray-500 mb-4">Como administrador no podés realizar publicaciones.</p>
    </div>
    }
  </div>
</article>
