<h2 class="text-3xl font-bold px-3">Mi Perfil</h2>

<article class="flex flex-col md:flex-row w-full min-h-screen gap-10">
  <div class="flex-1 flex flex-col mt-10">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title mb-2"></h3>
        <form [formGroup]="perfilForm" class="mt-50">
          <div class="input-group py-2">
            <label class="input-helper">Nombre:</label>
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="nombre"
            />
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Apellido:</label>
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="apellido"
            />
          </div>
          <div class="input-group py-2">
            <label class="input-helper">Gmail:</label>
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="email"
            />
          </div>

          <div class="input-group py-2">
            <label class="input-helper">Rol:</label>
            <input
              type="text"
              class="bg-stone-100 border border-stone-300 rounded-[8px] px-3 py-2 text-gray-700"
              formControlName="rol"
            />
          </div>
          <div></div>
          <div class="flex flex-col gap-4 py-4">
            <button class="btn btn-primary btn-md">Editar Perfil</button>
            <button class="btn btn-outline btn-md">Cambiar Contraseña</button>
            <button class="btn btn-danger btn-md" (click)="authService.logout()">
              Cerrar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- lado derecho de "mi perfil" -->

  <div class="flex-2 flex flex-col mt-6 w-full">
    <div class="flex justify-between items-center py-3">
      @if (!authService.isAdmin()) {
      <a class="btn btn-sm btn-primary" routerLink="/publicaciones/crear">+ Crear Publicación</a>

      <h2 class="text-2xl font-semibold">Mis publicaciones</h2>

      <!-- solamente Miembros (no admin) pueden crear publicaciones -->
      }
    </div>
    <!-- el primer if es para no mostrar NADA sobre publicaciones al Admin -->
    @if (!authService.isAdmin()) { @if (cargandoPublicaciones()) {
    <div class="flex justify-center items-center py-10">
      <p class="text-gray-500">Cargando publicaciones...</p>
    </div>
    } @else if (misPublicaciones().length > 0) {
    <div class="card p-4 bg-primary/5">
      <p class="text-sm text-muted-foreground mb-4">Historial completo de tus publicaciones.</p>
      <app-publicacion-list [publicaciones]="misPublicaciones()" />
    </div>
    }

    <!-- si no hay nada -->
    @else {
    <div class="card p-8 text-center">
      <p class="text-gray-500 mb-4">Aún no tenés publicaciones</p>

      <a class="btn btn-primary btn-md mx-auto" routerLink="/publicaciones/crear">
        Crear mi primera publicación
      </a>
    </div>
    } }
  </div>
</article>
