<div class="flex flex-col md:block relative max-w-4xl mx-auto md:py-8 md:h-[260px] md:px-16">
  <h1 class="relative z-1 text-center md:text-left text-4xl md:text-7xl pb-2.5 font-bold">
    PetFinder App
  </h1>
  <p
    class="relative z-1 text-center md:text-left text-pretty text-xl md:text-2xl font-semibold leading-snug text-gray-700"
  >
    Ayudando a que las mascotas perdidas <br />
    vuelvan a sus hogares.
  </p>
  <app-cat-and-dog-animation
    ngClass="md:absolute md:right-0 md:-top-4 w-full max-w-[400px] h-auto block mx-auto"
  ></app-cat-and-dog-animation>
</div>
