<form [formGroup]="publicacionForm" (ngSubmit)="onSubmit()">
  <h3>Datos de la mascota:</h3>

  <div>
    <label for="nombreMascota">Nombre:</label>
    <input formControlName="nombreMascota" type="text" id="nombreMascota" />

    @if(publicacionForm.get("nombreMascota")?.invalid &&
    publicacionForm.get("nombreMascota")?.touched){
    <p class="input-error">
      @if(publicacionForm.get("nombreMascota")?.errors?.['required']){ Este campo es obligatorio. }
      @if(publicacionForm.get("nombreMascota")?.errors?.['minlength']){ El nombre debe tener más de
      tres caracteres. }
    </p>
    }
  </div>

  <div>
    <label for="estadoMascota">Estado:</label>
    <select formControlName="estadoMascota" id="estadoMascota">
      <option value="">Seleccione...</option>
      @for (estado of estadosMascotaFiltrados; track estado.value) {
      <option [value]="estado.value">
        {{ estado.label }}
      </option>
      }
    </select>

    @if (publicacionForm.get("estadoMascota")?.invalid &&
    publicacionForm.get("estadoMascota")?.touched) {
    <p class="input-error">Debe seleccionar una opción.</p>
    }
  </div>

  <div>
    <label for="tipoMascota">Tipo:</label>
    <select formControlName="tipoMascota" id="tipoMascota">
      <option value="">Seleccione...</option>
      @for (tipo of tiposMascota; track tipo.value) {
      <option [value]="tipo.value">
        {{ tipo.label }}
      </option>
      }
    </select>

    @if (publicacionForm.get("tipoMascota")?.invalid && publicacionForm.get("tipoMascota")?.touched)
    {
    <p class="input-error">Debe seleccionar una opción.</p>
    }
  </div>

  <div>
    <label for="urlFoto">URL de la foto:</label>
    <input
      formControlName="urlFoto"
      type="url"
      id="urlFoto"
      placeholder="https://ejemplo.com/foto.jpg"
    />

    @if (publicacionForm.get("urlFoto")?.invalid && publicacionForm.get("urlFoto")?.touched) {
    <p class="input-error">
      @if(publicacionForm.get("urlFoto")?.errors?.['required']){ Este campo es obligatorio. } 
      @if(publicacionForm.get("urlFoto")?.errors?.['pattern']){ Debe ser una dirección URL. }
    </p>
    }
  </div>

  <div>
    <label for="descripcion">Descripción:</label>
    <textarea
      formControlName="descripcion"
      id="descripcion"
      rows="4"
      placeholder="Brinde una descripción relevante..."
    ></textarea>

    @if(publicacionForm.get("descripcion")?.invalid && publicacionForm.get("descripcion")?.touched){
      <p class="input-error">
        @if(publicacionForm.get("descripcion")?.errors?.['required']){
          Este campo es obligatorio.
        }
        @if(publicacionForm.get("descripcion")?.errors?.['minlength']) {
          La descripción debe tener mas de 10 caracteres.
        }
        @if(publicacionForm.get("descripcion")?.errors?.['maxlength']) {
          La descripción no debe superar los 500 caracteres.
        }
      </p>
    }
  </div>

  <h3>Dirección:</h3>

  <div>
    <label for="calle">Calle:</label>
    <input formControlName="calle" type="text" id="calle" />

    @if (publicacionForm.get("calle")?.invalid && publicacionForm.get("calle")?.touched) {
      <p class="input-error">
        @if (publicacionForm.get("calle")?.errors?.['required']) {
          Este campo es obligatorio.
        }
        @if (publicacionForm.get("calle")?.errors?.['minlength']){
          La calle debe tener mas de 3 caracteres.
        }
      </p>
    }
  </div>

  <div>
    <label for="altura">Altura:</label>
    <input formControlName="altura" type="number" id="altura" min="1" />

    @if(publicacionForm.get("altura")?.invalid && publicacionForm.get("altura")?.touched) {
      <p class="input-error">
        @if (publicacionForm.get("altura")?.errors?.['required']) {
          Este campo es obligatorio.
        }
        @if (publicacionForm.get("altura")?.errors?.['min']) {
          La altura debe tener mas de 1 digito.
        }
      </p>
    }
  </div>

  <button type="submit" [disabled]="publicacionForm.invalid">
    {{ esEdicion() ? 'Actualizar' : 'Publicar' }}
  </button>
</form>
