<li
  class="flex items-center gap-2 text-sm"
  [ngClass]="cumplido() ? 'input-success-text' : 'input-helper'"
>
  @if (cumplido()) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-4 shrink-0"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
      aria-hidden="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
    </svg>
  } @else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-4 shrink-0"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
      aria-hidden="true"
    >
      <circle cx="12" cy="12" r="3.25" />
    </svg>
  }
  <ng-content />
</li>
