<div class="card card-hover transition flex flex-col h-[462px] overflow-hidden">
  <div class="relative h-62 overflow-hidden bg-gray-50">
    <!-- tmb puede usarse object-contain para que se cvea toda la imagen, y el fondo restante del mismo color del bg -->
    <img
      class="w-full h-full object-cover object-top"
      [src]="publicacion().urlFoto"
      [alt]="publicacion().nombreMascota"
    />

    <span
      class="absolute top-3 right-3 px-3 py-1 text-xs font-semibold text-white rounded-full"
      [ngClass]="{
        'bg-red-500': publicacion().estadoMascota === 'perdido',
        'bg-green-500': publicacion().estadoMascota === 'reencontrado',
        'bg-blue-500': publicacion().estadoMascota === 'encontrado'
      }"
    >
      {{ publicacion().estadoMascota.toUpperCase() }}
    </span>
  </div>

  <!-- Contenido -->
  <div class="p-5 flex flex-col flex-1 gap-3">
    <div>
      @if (publicacion().nombreMascota.length === 0) {
      <h3 class="text-xl font-bold text-gray-400 mb-1">Sin nombre</h3>
      }@else {
      <h3 class="text-xl font-bold text-gray-800 mb-1">{{ publicacion().nombreMascota }}</h3>
      }
      <span class="text-sm text-gray-500 capitalize">{{ publicacion().tipoMascota }}</span>
    </div>

    <div class="flex items-center gap-2 text-gray-600">
      <!-- svg ubicacion -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ff971c"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-map-pin-icon lucide-map-pin"
      >
        <path
          d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
        />
        <circle cx="12" cy="10" r="3" />
      </svg>
      <p class="text-sm">{{ publicacion().calle }}, {{ publicacion().altura }}</p>
    </div>

    <div class="flex items-center gap-2 text-gray-600">
      <!-- svg calendario -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ff971c"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-calendar1-icon lucide-calendar-1"
      >
        <path d="M11 14h1v4" />
        <path d="M16 2v4" />
        <path d="M3 10h18" />
        <path d="M8 2v4" />
        <rect x="3" y="4" width="18" height="18" rx="2" />
      </svg>
      <p class="text-sm">{{ publicacion().fecha | date : 'dd/MM/yyyy' }}</p>
    </div>

    <a
      class="btn btn-md btn-primary transition-colors duration-200"
      [routerLink]="['/publicaciones', publicacion().id]"
      >Ver publicación</a
    >
  </div>
</div>
