<div #swiperContainer class="swiper relative w-full">

  <div class="swiper-wrapper">
    @for (pub of publicaciones(); track pub.id) {
      <div class="swiper-slide flex justify-center">
        <div class="bg-white shadow-md rounded-xl overflow-hidden w-60">
          <img 
            [src]="pub.urlFoto" 
            [alt]="pub.nombreMascota"
            class="w-full h-40 object-cover"
          />
          <div class="p-3">
            <h3 class="text-center font-semibold text-gray-800">
              {{ pub.nombreMascota }}
            </h3>
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Botones -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
